[MASTER]
extension-pkg-allow-list=numpy
ignored-modules=numpy,numpy.typing

[MESSAGES CONTROL]
disable=
    missing-function-docstring,
    missing-class-docstring,
    missing-module-docstring,
    too-many-locals,
    too-many-statements,
    invalid-name,
    import-error,

[FORMAT]
max-line-length=100

[DESIGN]
max-args=10
max-locals=20
